<article class="post">
    <div class="meta">
        {{post_text}}</br>
        {{vote_count}} point(s) by {{user.username}} on
        {{format_date created_at}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length}}</a>
    </div>
</article>