<article class="post">
    <a href="/post/{{id}}">
        <div class="meta">
            {{post_title}}</br>
            {{post_text}}</br>
            {{vote_count}} Posted by {{user.username}} on
            {{format_date created_at}}
            {{comments.length}} {{format_plural 'comment' comments.length}}
        </div>
    </a>
</article>